.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 50px;
}
@media(max-width:600px){

    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}


/* List.css */
.list-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .list-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .list-table {
    display: grid;
    gap: 20px;
  }
  
  .food-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .food-content {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
  }
  
  .food-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .food-info {
    flex: 1;
  }
  
  .food-info h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .food-info p {
    margin: 5px 0;
    color: #555;
  }


  .add-list {
    background-color: #f9f9f9;
    color: #000000;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    width: 90%;
    margin: 50px 10px 20px 85px;
    font-family: 'Arial', sans-serif;
}
  
  @media (max-width: 600px) {
    .food-content {
      flex-direction: column;
      text-align: center;
    }
    .food-image {
      margin-bottom: 10px;
    }
  }
  